<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN PROGRAMM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

</br>
</br>
<head><center>
    <img src="http://davor.smallideafactory.com/static/img/webpics/zmija.png">
    <img src="http://davor.smallideafactory.com/static/img/webpics/pingvin.jpg">
    <img src="http://davor.smallideafactory.com/static/img/webpics/redis.png">
</center></head>

<head>
    <meta charset="UTF-8">
    <title>Incorretect sorry</title>
</head>
<body>
    <h2 ALIGN=CENTER>INCORRECT, NO CIGAR FOR YOU :-) !!!</h2>
    <h2 ALIGN=CENTER>BETTER LUCK NEXT TIME :-) !!!</h2>
    <div ALIGN=CENTER><h3>The answer was : {{ answer }} </h3></div>
    <div ALIGN=CENTER><h3>Your answer was : {{ submittedAnswer }}</h3></div>
</body>

</br>


<!-- Footer -->
        <footer><center>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Svilar Davor Flask Redis web site 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </center></footer>
</html>