<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MAIN PROGRAMM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

</br>
</br>
<head><center>
    <img src="http://davor.smallideafactory.com/static/img/webpics/zmija.png">
    <img src="http://davor.smallideafactory.com/static/img/webpics/pingvin.jpg">
    <img src="http://davor.smallideafactory.com/static/img/webpics/mysql.png">
</center></head>
	<h2><center>Trivia application by BIGDADDY</center></h2>
	<h2><center>This aplication use Python as well as Flask,</center></h2>
	<h2><center>also JINJA templating, CSS and Bootstrap was used</center></h2>
	<h2><center>The cooding was done by MODEL VIEW CONTROLLER priciple</center></h2>
	<h2><center>where for model was used MSQL database !!!</center></h2>
	<h2><center><strong><a color="red" href="/create1">PLEASE PROCEED AND TRY THE TRIVIA APP</a></strong></center></h2>
	<center><img src="http://davor.smallideafactory.com/static/img/webpics/mvc.jpg"></center>

</body>
</html>