<!DOCTYPE html>
<br lang="en">
<head>
  <meta charset="utf-8">
  <title>S.D.Flask Bootsrap #1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" rel="stylesheet">
</title>
</head>
</br>
<p>
  <div class="row text-center">
  <a class="btn btn btn-primary btn-lg btn-block"  role="button"><h2>..I am afraid thats not the right answer :-( ???</h2></a>
  <a class="btn btn btn-info btn-lg btn-block" ><h3>Maybe I should simpify things a little bit more !!!</h3></a>
  <a class="btn btn btn-primary btn-lg btn-block" ><h2>Whats the RIGHT answer, on the bottom RIGHT picture :-)</h2></a>
  <a class="btn btn btn-warning btn-lg btn-block"  role=><h3>Choose Your Answer,and click on an answer You think is correct !!!</h3></a>
</p>

<p>
  <div class="row text-center">
  <img img src="static/img/davor/davor1.jpg" alt="100" class="img-rounded">
  <img img src="static/img/davor/davor2.jpg" alt="400" class="img-rounded">
  <img img src="static/img/davor/davor3.jpg" alt="100" class="img-rounded">
  <img img src="static/img/davor/davor4.jpg" alt="400" class="img-rounded">
  <img img src="static/img/davor/davor5.jpg" alt="100" class="img-rounded">
  </div>

</p>
<p>
  <div class="row text-center">
  <a class="btn btn btn-danger btn-lg" href="http://davor.smallideafactory.com/main" role="button"><h4> TRY AGAIN !!! </h4></a>
  <a class="btn btn btn-danger btn-lg" href="http://davor.smallideafactory.com/main" role="button"><h4> TRY AGAIN !!! </h4></a>
  <a class="btn btn btn-danger btn-lg" href="http://davor.smallideafactory.com/main" role="button"><h4> TRY AGAIN !!! </h4></a>
  <a class="btn btn btn-danger btn-lg" href="http://davor.smallideafactory.com/main" role="button"><h4> TRY AGAIN !!! </h4></a>
  <a class="btn btn btn-danger btn-lg" href="http://davor.smallideafactory.com/main" role="button"><h4> TRY AGAIN !!! </h4></a></div>
</p>

<p>
  <div class="row text-center">
    <button type="button" class="btn btn btn-success btn-lg btn-block" role="button"><h3>...I am afraid thats not the right answer :-(<h3></button>
    <button type="button" class="btn btn btn-success btn-lg btn-block" role="button"><h3>...LOOOSSEEEEERRR!!! :-P LOOOOOSSOOOOORRR !!!!<h3></button>
  </div>
</p>

<p>
  <div class="row text-center">
  <a class="btn btn-default" href="https://www.facebook.com/davor.svilar" role="button"><h3>My FCB profile</h3></a>
  <a class="btn btn-default" href="https://www.youtube.com/channel/UCUrq8eRDwY73c97vzF7PPPg/videos" role="button"><h3>My YouTube profile</h3></a>
  <a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AAIAAAcWmwQBV7u6FaYb5Zc9myIGsTWnXj8Ly0s&trk=nav_responsive_tab_profile" role="button"><h3>My Linkedin profile</h3></a>
  </div>
</p>

</html>

